.word-finder-main {
    display: flex;
    vertical-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.word-finder-view {
    display: grid;
}

.word-finder-grid {
    border: 3px solid black;
    width: fit-content;
    border-radius: 1%;
}

.word-finder-tile {
    padding: 10px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    outline: 0;
    text-align: center;
    font-size: xx-large;
}

.word-finder-button-div {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    justify-self: center;
    width: 100%;
}

.word-finder-button {
    background-color: lightgray;
    padding: 10px;
    border-radius: 8%;
    font-size: 1.3rem;
}
